# Install with:
#   pip install -r requirements.txt
#
# For this project we use the CUDA-enabled PyTorch wheels via the official
# PyTorch package index and regular PyPI for the remaining packages.

--extra-index-url https://download.pytorch.org/whl/cu130

torch==2.11.0+cu130
torchvision==0.26.0+cu130
Pillow==12.2.0
matplotlib==3.10.8
numpy==2.4.4
pandas==3.0.2
kaggle==2.0.0
